*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
html, body{
  width: 100%;
  height: 100%;
  background-color: #effafd;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.rowt{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.one-of-two{
  width: 50%;
  height: 100%;
}
.bg{
  width: 100%;
  height: 100%;
  background-image: url('bg.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
section{
  width: 100%;
  height: 100vh;
}
.button-info{
  padding: 10px;
  border-radius: 25px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  margin: 5px;
  background-color: #E4F4FD;
	transition: 0.45s;
}
.button-info:hover{
	transform: scale(1.05);
	transition: 0.45s;
	cursor: pointer;
}
.card{
  width: 20%;
  text-align: center;
  padding: 25px;
  border: 1px solid black;
  border-radius: 5px;
  height: 50%;
  background-color: white;
}
.card h1{
  font-size: 50px;
}
.card p{
  font-size: 20px;
}
#main{
}
@media only screen and (max-width: 600px) {
  #main{
    border: none;
    text-align: center;
  }
  .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .row{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card{
    width: 75%;
  }
  .e{
    display: none;
  }
  body{
    overflow-x: hidden;
  }
}